body{
    font-family: 'Cabin', sans-serif;

.global-wrapper{
    box-sizing: border-box;
    max-width: 1296px;
    margin: 0 auto;
}
}
.wrapper{
    max-width: 1296px;
    max-height: 49px;
    box-sizing: border-box;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    margin-top: 49px;
    padding: 5px 0;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 145px;
}
.wrapper,
.header-container-img-logo,
header ul, .btn-container, main{
    display: flex;
}
.header-container-img-logo img{
    width: 40px;
    height: 40px;
    margin-right: 18px;
}
.header-container-img-logo{
    align-items: center;
}
.header-container-img-logo p{
    margin-right: 236px;
    color: #0E0F13;
    leading-trim: both;
    text-edge: cap;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
}
header ul{
    gap: 56px;
    padding: 12px 0 12px 0;
    color: #0E0F13;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%;
}
.blue-style{
    color: #425DF8;
}

.first-btn{
    margin-left: 233px;
    margin-right: 24px;
    color: #0E0F13;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #DADADA;
    max-width: 110px;
    min-height: 49px;
    align-items: center;
    width: 110px;
    height: 49px;
    box-sizing: border-box;

}
.second-btn-blue{
    width: 116px;
    height: 46px;
    align-items: flex-start;
    max-width: 110px;
    min-height: 49px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-sizing: border-box;
}
.title-headline{
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    margin: 0 auto;
}
.headline p{
    margin-top: 24px;
    margin-bottom: 120px;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}

h3{
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}
.price{
    color: #0E0F15;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%; /* 80px */
    letter-spacing: -2.56px;
}

.starter-card{
    width: 416px;
    height: 789px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    padding: 56px;
    display: block;
    margin-top: 28px;
}
.starter-card, .enterprise-card, ul, p{
    color: #7F828A;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}
.pro-card ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.pro-card{
    width: 416px;
    height: 817px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    padding: 56px;
    display: block;
    background-color: #161A34;

}
.enterprise-card ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;
}

.enterprise-card{
    width: 416px;
    height: 789px;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    padding: 56px;
    display: block;
    margin-top: 28px;

}
.offer-to-customers{
    margin-top: 166px;

}
.proposition-cards{
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    gap: 24px;

}
.starter-card ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 16px;

}
.proposition-cards img{
    width: 24px;
    height: 24px;
    background-color: #425DF8;
    border-radius: 50%;
    margin-right: 10px;
}
.starter-card p, .pro-card p, .enterprise-card p{
    margin-top: 27px;
    margin-bottom: 27px;
}
.starter-card ul, .pro-card ul, .enterprise-card ul{
    margin-top: 27px;
}

footer{
    margin-top: 196px;
    max-height: 59px;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    padding-bottom: 16px;
    padding-top: 16px;

}
.footer-logo {
    display: flex;
    gap: 16px;
    align-items: center;
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-left: 52px;
}
.all-right-reserved{
    display: inline-block;
    margin-left: auto;
    margin-right: 52px;
}
.get-started {
    display: inline-block;
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 162px;
    max-height: 49px;
    min-width: 162px;
    margin: 190px auto 56px;

}

.pro-card-h, .pro-card-ul, .price-pro, .paragraph-starter-pro{
    color: white;
}

.price-pro{
    color: #F6FDFF;
    text-align: right;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}
.pro-mo, .pro-card-ul{
    color: #F6FDFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
}

.get-started-pro{
    display: inline-block;
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    leading-trim: both;
    text-edge: cap;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 162px;
    max-height: 49px;
    min-width: 162px;
    margin: 160px auto 56px;
}



